/* Sidebar container */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
  }
  
  /* Sidebar header */
  .sidebar-header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-logo {
    width: 190px;
    height: 70px;
  }
  
  /* Sidebar menu */
  .sidebar-menu {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
    list-style-type: none;
  }
  
  /* Menu item default */
  .menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border-radius: 4px;
    text-decoration: none;
    background-color: white;
    color: #404040f6;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #4f46e5; /* Indigo-500 */
    color: white;
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.2);
  }
  
  /* Active menu item */
  .menu-item.active {
    background-color: #4f46e5; /* Indigo-500 */
    color: white;
  }
  